<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Coltov Academy — Change Password</title>

</head>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<body>

<header>
  <a href="/">
    <img src="{% static 'images/casa.png' %}" 
         alt="Home" 
         style="filter: brightness(0) invert(1);position: absolute; top: 20px; left: 20px; width: 50px; height: 50px;">
  </a>

  <h1>Colțov Academy</h1>

  <a href="profile">
    <img src="{% static 'images/profil.png' %}" 
         alt="Profile" 
         style="filter: brightness(0) invert(1);position: absolute; top: 20px; right: 20px; width: 50px; height: 50px;">
  </a>
</header>


<div class="container">
    <div class="card">

        <form method="post">
            {% csrf_token %}

            <input type="password" name="old_password" placeholder="Old Password" class="input-field">

            <input type="password" name="new_password1" placeholder="New Password" class="input-field">

            <input type="password" name="new_password2" placeholder="Confirm New Password" class="input-field">

            <button type="submit" style="width: 100%; height: 50px;">Update Password</button>
        </form>

        {% if form.errors %}
            <p style="color: red;">Something went wrong</p>
        {% endif %}

    </div>
</div>


<footer>
  © 2026 Coltov Academy — All rights reserved
</footer>

</body>
</html>