<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Delete Course</title>

</head>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<body>
  


<header>
  <a href="/">
    <img src="{% static 'images/casa.png' %}" 
         alt="Home" 
         style="filter: brightness(0) invert(1);position: absolute; top: 20px; left: 20px; width: 50px; height: 50px;">
  </a>

  <h1>Colțov Academy</h1>

  <a href="/profile">
    <img src="{% static 'images/profil.png' %}" 
         alt="Profile" 
         style="filter: brightness(0) invert(1);position: absolute; top: 20px; right: 20px; width: 50px; height: 50px;">
  </a>
</header>

<div class="container">
  <div class="card">
    <h1>Are you sure you want to delete "{{ object.title }}"?</h1>
<form method="post">
  {% csrf_token %}
    <button type="submit">Yes, delete</button>
    <a href="{% url 'selling' %}">Cancel</a>
    </form>
    </form>
  </div>
</div>

<footer>
  © 2026 Coltov Academy — All rights reserved
</footer>

</body>
</html>