<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Coltov Academy — Password Changed </title>

</head>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<body>

<header>
  
  <h1>Colțov Academy</h1>
  
</header>

<div class="container">
    <div class="card">
        <h2>Password updated successfully ✅</h2>

        <a href="{% url 'profile' %}" class="btn">Back to Profile</a>
    </div>
</div>


<footer>
  © 2026 Coltov Academy — All rights reserved
</footer>

</body>
</html>